bs4
edge-tts
geopy
glitch_this
googlesearch-python
googletrans @ git+https://github.com/HellBoy-OP/py-googletrans
html_telegraph_poster
httpx
lottie
motor
pillow
pyroaddon
pyrogram
pySmartDL
python-dotenv
pytz
requests
selenium
speedtest-cli
tgcrypto
wikipedia